li{
    list-style: none;
}

html, body, h3{font-family: "Open Sans", sans-serif}

h3{
    text-align: center;
}

html, body {
     height: 100%;
 }
 
 html {
     display: table;
     margin: auto;
 }
 
 body {
     display: table-cell;
     vertical-align: middle;
 }
button {
    display:flex;
  flex-direction: row;
}


body {
    display: table-cell;
    vertical-align: middle;
}
button {
   display:flex;
 flex-direction: row;
}

